<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <!------    header    ------>
    <header>
        <div class="encabezado">
            <img id="logo" src="images/logo-mercado-liebre.svg" alt="Logo">
            <!--   Busqueda   -->
            <form class ="fomulario" action="" method="get">
                    <input type="text" placeholder="Busqueda">
                    <i class="fas fa-search lupita"></i>
            </form>
                
           
            <!--   compra en cuotas   -->
            <div id="compra">
                <i class="fas fa-hand-holding-usd manito"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <!--   navbar   -->
            <nav class="navbar">
                <ul class="menu1">
                    <li type="none"><a href="#">Ofertas</a></li>
                    <li type="none"><a href="#">Tiendas oficiales</a></li>
                    <li type="none"><a href="#">Vender</a></li>
                    <li type="none"><a href="#">Ayuda</a></li>
                </ul>

                <!--menu cuenta usuario-->
                <ul class="menu2">
                    <li type="none">
                        <a href="/register">Crea tu cuenta</a>
                        <i class="far fa-id-card"></i>
                    </li>
    
    
                    <li type="none">
                        <a href="/loguin">Ingresa</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
    
                    <li type="none">
                        <a href="#">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
    
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <!------      banner      ------>    
    <img id="banner" src="/images/img-home-banner.jpg" alt=""> 
    
    <!------      main      ------>
    <main>
        <!-- seccion ultimas visitas-->
        <section id ="ultimavisita">
            <h2 id="titulares">Basado en tu ultima Visita</h2>
            <!-- articulo 1 -->
            <article class="articulo-ar">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" id="img-producto">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40 % OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <!-- articulo 2 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20 % OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <!-- articulo 3 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Celular">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10 % OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <!-- articulo 4 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-tv-samsung-smart.jpg" alt="Celular">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5 % OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

        <!-- seccion ofertas -->
        <section id="ofertas">
            <h2 id="titulares">Ofertas</h2>
            <!-- articulo 1 -->
            <article class="articulo-ar">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" id="img-producto">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40 % OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <!-- articulo 2 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20 % OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <!-- articulo 3 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Celular">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10 % OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <!-- articulo 4 -->
            <article class="articulo-ar">
                <img id="img-producto" src="images/img-tv-samsung-smart.jpg" alt="Celular">
                <div class="det-articulo">
                    <div id="truck">
                        <i class="fas fa-truck" id="truck-icon"></i>
                    </div>
                    <div id="precios">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5 % OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <!------      footer      ------>
    <footer>
        <footer>
            <ul id="footer">
                <div class="footers">
                    <i class="fas fa-credit-card iconos"></i>
                    <li>
    
                        <p id="bold">Pagá con tarjeta o en efectivo</p>
                        <p class="des">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                    </li>
                </div>
                <div class="footers">
                    <i class="fas fa-gift iconos"></i>
                    <li>
    
                        <p id="bold">Envío gratis desde $ 2.500</p>
                        <p class="des">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </li>
                </div>
                <div class="footers">
                    <i class="fas fa-user-shield iconos"></i>
    
                    <li>
    
                        <p id="bold">Seguridad, de principio a fin</p>
                        <p class="des">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </li>
                </div>
            </ul>            
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
    
</body>
</html>